# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Output
*.out
*.txt

# Sphinx documentation
docs/_build/

# dataset
dataset/
gpt_responses/
gpt_preds/

# logs and results
logs/
output/
prt_lm/
core/wandb/
wandb/
core/Embedding/wandb

*.png

core/Embedding/data/
core/Embedding/temp_path/
core/Embedding/temp_struc2vec/
scripts/error/TAG_Benchmark_2336350.error
scripts/log/TAG_Benchmar_2336350.output
temp_path/

scripts/error/
scripts/log/
*/tmp/ 

*.pkl
generated_dataset/
dataset.tar.gz
